 Node modules
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# Metro
metro-cache/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
build/
dist/
*.apk
*.aab

# Android
android/

# iOS (если есть)
ios/
Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdata

# VSCode
.vscode/

# Environment
.env
.env.*

# Misc
*.swp
.idea/
*.iml